:root
  --core-color #36ab94
  --font-color-1 #5d5d5d
  --font-size-1 14px
  --line-color-1 #e5e5e5
  --line-width-1 1px
  --line-height-1 1.2em
  --background-color-1 #fff
  --background-color-2 #f7f7f7
  --quota-color #efefef
  --shadow: 0 3px 8px rgba(0, 0, 0, 0.1)
  --dialog-background-color-1 var(--background-color-1)

*
  margin 0
  padding 0
  box-sizing border-box

body
  margin 0 auto
  font-family -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  width 100%
  display flex
  flex-direction column


::-webkit-scrollbar
  width 6px
  height 6px

::-webkit-scrollbar-thumb
  border-radius 10px
  background rgba(0,0,0,.1)
  -webkit-box-shadow none
  min-height 50px

::-webkit-scrollbar-thumb:active
  background rgba(0,0,0,.3)

::-webkit-scrollbar-track
  border-radius 10px
  background: transparent
  -webkit-box-shadow: none

::-moz-selection
  background #36b59d
  color: #fff

::selection
  background #36b59d
  color #fff

.markdown-editor
  color var(--font-color-1)
  font-size var(--font-size-1)
  display flex
  flex-direction column

  h1, h2, h3, h4, h5, h6
    color var(--core-color)

  h1
    font-size 48px

  h2
    font-size 32px

  h3
    font-size 26px

  h4
    font-size 18px

  h5
    font-size 16px

  h6
    font-size 14px

  hr
    height 1px
    border none
    border-top 1px var(--line-color-1) dashed

  ul
    margin-left 20px

  li
    margin-top: 10px;

  li::marker
    color var(--core-color)

  p
    margin-top 10px
    display flex

    > code
      background-color var(--core-color)
      border-radius 5px
      padding 0 5px
      color white

  img, img[alt="centen"]
    margin 0 auto
    display flex
    max-width 100%
    height auto
    flex-wrap wrap
  img[alt="left"]
    margin 0 auto 0 0
  img[alt="right"]
    margin 0 0 0 auto

  a
    color var(--core-color)

  pre
    padding 10px

  blockquote
    background-color var(--quota-color)
    border-left 5px solid var(--line-color-1)
    padding 10px
    margin-top 10px

    p
      margin 0

